<link rel="stylesheet" th:href="@{/css/ClassStyle.css}" />
<link rel="stylesheet" th:href="@{/css/CommonStyle.css}" />

<div class="class_content">
  <section class="class_intro">
    <h2>나의강의실</h2>
  </section>

  <!-- 필터 및 검색 -->
  <div class="filter-bar" th:object="${pageMaker}">
    <button class="refresh-btn" onclick="window.location.reload();">⟳</button>
    <select class="sort-select" name="perPageNum" id="perPageNum">
      <option value="10" th:selected="${pageMaker.perPageNum == 10}">전체</option>
      <option value="20" th:selected="${pageMaker.perPageNum == 20}">20개씩</option>
      <option value="50" th:selected="${pageMaker.perPageNum == 50}">50개씩</option>
    </select>

    <select class="category-select" name="searchType" id="searchType" th:field="*{searchType}">
      <option value="">전체</option>
      <option value="f">분야</option>
      <option value="n">강의명</option>
      <option value="c">상태</option>
  </select>
  <div class="search_box">
    <input type="text" id="keyword" name="keyword" placeholder="검색어를 입력하세요." 
        th:value="${keyword != null ? keyword : ''}" />
        <button class="search_btn" onclick="search_list(1);">⌕</button>
  </div>

</div>


  <!-- 강의 리스트 테이블 -->
  <table class="table_list">
    <thead class="thead">
      <tr>
        <th>번호</th>
        <th>분야</th>
        <th>강의명</th>
        <th>상태</th>
        <th>등록일</th>
      </tr>
    </thead>
    <tbody>
      <tr th:if="${#lists.isEmpty(historyList)}">
          <td colspan="5" style="text-align: center;">수강 내역이 없습니다.</td>
      </tr>
      <tr th:each="history, iterStat : ${historyList}">
          <td th:text="${iterStat.count}"></td>
          <td th:text="${history.field}"></td>
          <td th:text="${history.class_name}"></td>
          <td th:text="${history.complete == 1 ? '완료' : '미완료'}"></td>
          <td th:text="${#dates.format(history.regDate, 'yyyy-MM-dd')}"></td>
      </tr>
  </tbody>
  </table>
  <th:block th:insert="~{module/common_js}" />
  <th:block th:insert="~{module/pagination}" />
</div>