<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ClassHistory-Mapper">
    <sql id="search">
        <if test="searchType != null and searchType != ''">
            <if test="searchType eq 'n'">
                AND class_name LIKE '%' || #{keyword} || '%'
            </if>
            <if test="'f'.equals(searchType)">
                AND field = #{keyword}
            </if>
            <if test="searchType eq 'c'">
                AND complete = #{keyword}
            </if>
        </if>
    </sql>
    
    <select id="selectClassHistoryList" parameterType="map" resultType="classHistory">
        SELECT 
            CHNO,
            REGDATE,
            MID,
            CLNO,
            CLASS_HISTORY,
            COMPLETE,
            ENROLLCOUNT,
            CLASS_NAME,
            FNO,
            FIELD
        FROM CLASS_HISTORY_LIST
        WHERE MID = #{mid}
        ORDER BY REGDATE DESC
    </select>
    
    <select id="selectSearchClassHistoryListCount" resultType="int">
        select count(*)
        from class_history_list
        where 1=1
        <include refid="search" />
    </select>
    
    <select id="selectPopularity" resultType="classHistory">
        SELECT 
            clno, 
            class_name, 
            class_video, 
            fno,
            COUNT(mid) AS enrollCount
        FROM class_history_list
        where 1=1
        group by clno, class_name, class_video, fno
        order by enrollCount desc
    </select>
    <select id="getEnrolledCoursesByMid" resultType="classHistory">
        SELECT
        chno,
        mid,
        clno,
        regDate,
        class_history,
        complete,
        enrollCount,
        state,
        class_name,
        fno                      
        FROM class_history_list
        WHERE mid = #{mid}
        ORDER BY regDate DESC
    </select>

    <!-- 전체 레코드 개수 조회 -->
    <select id="getTotalRecords" parameterType="map" resultType="int">
        SELECT COUNT(*) 
        FROM class_history
        WHERE mid = #{mid}
        <if test="searchType != null and keyword != null and keyword != ''">
            AND ${searchType} LIKE CONCAT('%', #{keyword}, '%')
        </if>
    </select>
    
    <select id="selectSearchClassHistoryList" parameterType="map" resultType="classHistory">
        SELECT *
        FROM
        (
            SELECT A.*,
                ROWNUM AS rn
            FROM
            (
                SELECT 
                    CHNO,
                    REGDATE,
                    MID,
                    CLNO,
                    CLASS_HISTORY,
                    COMPLETE,
                    ENROLLCOUNT,
                    CLASS_NAME,
                    FNO,
                    FIELD
                FROM CLASS_HISTORY_LIST
                WHERE mid = #{mid}
                <if test="searchType != null and keyword != null and keyword != ''">
                    AND ${searchType} LIKE '%' || #{keyword} || '%'
                </if>
                ORDER BY regDate DESC
            ) A
            WHERE ROWNUM &lt;= #{endRow}  <!-- endRow까지 -->
        )
        WHERE rn &gt;= #{startRow}       <!-- startRow 이상 -->
    </select>

    <insert id="insertEnroll" parameterType="classHistory">
        insert into class_history(chno, mid, clno, regDate, class_history, complete, state)
        values(CLASS_HISTORY_SEQ.nextval, #{mid}, #{clno}, sysdate, 0, 0, 0)
    </insert>
    
    <update id="updateHistory" parameterType="classHistory">
        update class_history
        set class_history = #{class_history}
        where chno = #{chno}
    </update>
    
    <delete id="deleteEnroll" parameterType="classHistory">
        delete from class_history
        where clno = #{clno}
    </delete>
    
</mapper>
